<div class="container-main">
    <h2 class="log">
        SocialScape
    </h2>

    <div class="create">
        <button  class="btn-main btn-main-primary" for="create-post"><a href="logout">Log out</a></button>
        <div  style="cursor:pointer;" class="profile-photo">

            <img src="https://i.ibb.co/DWz457P/profile-10.jpg" alt="Alternate Text" />

        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
