<div class="messages">
    <div class="heading">
        <h4>Messages</h4><i class="uil uil-edit"></i>
    </div>

    <div class="search-bar">
        <i class="uil uil-search"></i>

        <input type="search" placeholder="Search messages" id="message-search" />
    </div>

    <div class="category">
        <h6 class="active">Primary</h6>

    </div>

    <div class="message">
        <div class="profile-photo">
            <img src="https://i.ibb.co/59wCg68/profile-8.jpg" />
        </div>
        <div class="message-body">
            <h5>Edem Quistr</h5>
            <p class="text-muted">Just woke up bruh</p>
        </div>
    </div>
    <div class="message">
        <div class="profile-photo">
            <img src="https://i.ibb.co/59wCg68/profile-8.jpg" />
        </div>
        <div class="message-body">
            <h5>Edem Quistr</h5>
            <p class="text-muted">Just woke up bruh</p>
        </div>
    </div>
    <div class="message">
        <div class="profile-photo">
            <img src="https://i.ibb.co/59wCg68/profile-8.jpg" />
        </div>
        <div class="message-body">
            <h5>Edem Quistr</h5>
            <p class="text-muted">Just woke up bruh</p>
        </div>
    </div>
    <div class="message">
        <div class="profile-photo">
            <img src="https://i.ibb.co/59wCg68/profile-8.jpg" />
        </div>
        <div class="message-body">
            <h5>Edem Quistr</h5>
            <p class="text-muted">Just woke up bruh</p>
        </div>
    </div>
</div>