@page "/"
@inject IJSRuntime _jsRuntime
@inject AuthenticationStateProvider _authStateProvider
@inject NavigationManager _navManager 



<div class="middle">
    <div class="stories">
        <div class="story">
            <div class="profile-photo">
                <img src="https://i.ibb.co/59wCg68/profile-8.jpg" />
            </div>
            <p class="name">Your story</p>
        </div>
        <div class="story">
            <div class="profile-photo">
                <img src="https://i.ibb.co/59wCg68/profile-8.jpg" />
            </div>
            <p class="name">Your story</p>
        </div>
        <div class="story">
            <div class="profile-photo">
                <img src="https://i.ibb.co/59wCg68/profile-8.jpg" />
            </div>
            <p class="name">Your story</p>
        </div>
        <div class="story">
            <div class="profile-photo">
                <img src="https://i.ibb.co/59wCg68/profile-8.jpg" />
            </div>
            <p class="name">Your story</p>
        </div>
        <div class="story">
            <div class="profile-photo">
                <img src="https://i.ibb.co/59wCg68/profile-8.jpg" />
            </div>
            <p class="name">Your story</p>
        </div>

    </div>

            

    <div class="feeds">
        <div class="feed">
            <div class="head">
                <div class="user">
                    <div class="profile-photo">
                        <img src="https://i.ibb.co/59wCg68/profile-8.jpg" />
                    </div>
                    <div class="ingo">
                        <h3>Full Name</h3>
                        <small>15 MINUTES AGO</small>
                    </div>
                    <span class="edit">
                        <i class="uil uil-ellipsis-h"></i>
                    </span>
                </div>
            </div>

            <div class="photo">
                <img src="https://i.ibb.co/zQBK3YD/feed-5.jpg" />
            </div>

            <div class="action-buttons">
                <div class="interaction-buttons">
                    <span><i class="uil uil-heart"></i></span>
                    <span><i class="uil uil-comment-dots"></i></span>
                    <span><i class="uil uil-share-alt"></i></span>
                </div>
                <div class="bookmark">
                    <span><i class="uil uil-bookmark-full"></i></span>
                </div>
            </div>

            <div class="liked-by">
                <span>
                    <img src="https://i.ibb.co/59wCg68/profile-8.jpg" />
                </span>
                <span>
                    <img src="https://i.ibb.co/59wCg68/profile-8.jpg" />
                </span>
                <span>
                    <img src="https://i.ibb.co/59wCg68/profile-8.jpg" />
                </span>
                <p>Liked by <b>Ernset Achiever</b> and <b>2,323 others  </b></p>
            </div>

            <div class="caption">
                <p>
                    <b>Lana Rose</b>Lorem ipsum dolor sit quisquameus.
                    <span class="harsh-tag">#lifestyle</span>
                </p>
            </div>
        </div>
    </div>
</div>
      



@code{





    private bool isClickedTheme;
    private int sizeNumber = 3;
    private int colorNumber = 5;
    private int backgroundNumber = 1;

    protected override async Task OnInitializedAsync()
    {
        var authState = await _authStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity.Name == null)
        {
            _navManager.NavigateTo("/login");


        }
    }

    
}