@page "/login"
@layout EmptyLayout
@inject IAuthService _authService
@inject NavigationManager _navManager
@inject IJSRuntime _jsRuntime


<Preload></Preload>

@if (isLodaer)
{
   <LoaderComponent/>

}
else
{
    <div class="container-auth @(isSignUpClick == true?"sign-up-mode":"sign-in-mode")">
        <div class="forms-container">
            <div class="signin-signup">



                <EditForm class="form sign-in-form" Model="loginModel" OnValidSubmit="HandleLogin">
                    <DataAnnotationsValidator />
                    <h2 class="title">Sign in</h2>
                    @if (showErrorsLogin)
                    {
                        <p style="color:red">@error</p>
                    }
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <InputText placeholder="Email" @bind-Value="loginModel.Email" DisplayName="UserName" class="input"></InputText>
                        <ValidationMessage For="()=>loginModel.Email" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <InputText type="password" placeholder="Passwod" @bind-Value="loginModel.Password" DisplayName="Password" class="input"></InputText>
                        <ValidationMessage style="margin-bottom:3px;" For="()=>loginModel.Password" />
                    </div>
                    <button type="submit" class="btn-auth solid">Login</button>

                </EditForm>

                <EditForm Model="registerModel" OnValidSubmit="HandleRegistration" class="form sign-up-form">
                    <DataAnnotationsValidator />

                    <h2 class="title">Sign up</h2>
                    @if (showErrors)
                    {
                        foreach (var item in errors)
                        {
                            <p style="color:red;">@item</p>
                        }
                    }
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <InputText placeholder="Email" @bind-Value="registerModel.Email" DisplayName="UserName" class="input"></InputText>
                        <ValidationMessage For="()=>registerModel.Email" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <InputText type="password" placeholder="Passwod" @bind-Value="registerModel.Password" DisplayName="Password" class="input"></InputText>
                        <ValidationMessage For="()=>registerModel.Password" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <InputText type="password" placeholder="Passwod" @bind-Value="registerModel.ConfirmPassword" DisplayName="Password" class="input"></InputText>
                        <ValidationMessage For="()=>registerModel.ConfirmPassword" />
                    </div>
                    <button type="submit" class="btn-auth solid">Sign up</button>
                </EditForm>
            </div>
        </div>


        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content-auth">
                    <h3>New here?</h3>
                    <p>Join KozakSpace and connect with vibrant minds. Your journey starts now!</p>
                    <button @onclick="()=>SignUpClick(0)" class="btn-auth-transparent" id="sign-up-btn">Sign up</button>
                </div>

                <img class="image" src="/img/log.svg" />
            </div>

            <div class="panel right-panel">
                <div class="content-auth">
                    <h3>One of us?</h3>
                    <p>Welcome back to KozakSpace! Dive in and see what's new today.</p>
                    <button @onclick="()=>SignUpClick(1)" class="btn-auth-transparent" id="sign-in-btn">Sign in</button>
                </div>

                <img class="image" src="/img/register.svg" />
            </div>
        </div>
    </div>

}






@code{

    private bool isLodaer;

    protected override void OnInitialized()
    {

    }


    private void TestClick()
    {
        isLodaer = true;
    }

    #region Login
    private LoginModel loginModel = new LoginModel();
    private bool showErrorsLogin;
    private string error = "";

    private async Task HandleLogin()
    {
        isLodaer = true;
        showErrorsLogin = false;

        var result = await _authService.Login(loginModel);


        if (result.Successful)
        {
            isLodaer = false;
            _navManager.NavigateTo("/");
        }
        else
        {
            isLodaer = false;
            error = result.Error;
            showErrorsLogin = true;
        }

    }
    #endregion


    #region Register
    private RegisterModel registerModel = new RegisterModel();
    private IEnumerable<string> errors;
    private bool showErrors;
    private async Task HandleRegistration()
    {
        showErrors = false;

        var result = await _authService.Register(registerModel);

        if (result.Successful)
        {
            isSignUpClick = false;

        }
        else
        {
            errors = result.Errors;
            showErrors = true;
        }

    }
    #endregion



    #region Change Login/Register
    private bool isSignUpClick;

    private void SignUpClick(int numberOfClick)
    {
        if (numberOfClick == 0)
        {
            isSignUpClick = true;
        }
        else
        {
            isSignUpClick = false;
        }
    }
    #endregion
}