@page "/register"
@inject IAuthService _authService
@inject NavigationManager _navManager
@using SocialScape.Shared.Models.AccountAuthntication



<h1>Register</h1>

@if (showErrors)
{
    <div class="alert alert-danger">
        @foreach (var item in errors)
        {
            <p>@item</p>
        }
    </div>
}


<div class="card">
    <div class="card-body">
        <div class="card-title">Please enter your details</div>
        <EditForm Model="registerModel" OnValidSubmit="HandleRegistration">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email">Email address</label>
                <InputText Id="email" class="form-control" @bind-Value="registerModel.Email"></InputText>
                <ValidationMessage For="@(()=>registerModel.Email)" />
            </div>
            <div class="form-group">
                <label for="email">Password</label>
                <InputText Id="password" class="form-control" @bind-Value="registerModel.Password"></InputText>
                <ValidationMessage For="@(()=>registerModel.Password)" />
            </div>
            <div class="form-group">
                <label for="email">Confirm Password</label>
                <InputText Id="password" class="form-control" @bind-Value="registerModel.ConfirmPassword"></InputText>
                <ValidationMessage For="@(()=>registerModel.ConfirmPassword)" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>





@code {
    private RegisterModel registerModel = new RegisterModel();
    private bool showErrors;
    private IEnumerable<string> errors;

    private async Task HandleRegistration()
    {
        showErrors = false;

        var result = await _authService.Register(registerModel);

        if (result.Successful)
        {
            _navManager.NavigateTo("/login");
        }
        else
        {
            errors = result.Errors;
            showErrors = true;
        }

    }
}
